.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
  margin-top: 100px;
}
h1{
  text-align: center;
  text-decoration: underline;
}

h3{
  text-align: right;
}
table {
  width: 100%;
}
.mat-card{
    padding: 4% 10% 10% 10%;
}

.example-full-width{
   width: 10%;
}

.example{
   width: 50px;
}