.navbar{
  justify-content: space-between;
}
.jumbotron{
  color: black;
}


span{
  padding-right: 1rem;
}
mat-sidenav-container{
  height: 100%;
}
mat-sidenav,mat-sidenav-content{
  padding: 0px;
}
mat-sidenav{
  background-color:#3f51b5;
}

example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 50%;
}

.col1
{
  width: 100%;
}



.email
{
  width: 70%;
  
}
.pte{
  width: 100%;
}


td {
  padding-right: 8px;
}

.phone {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.phone {
  width: 20%;
}

.form-control{
  width: 30%;
}

